@charset "UTF-8";

/**
 *   Order no. FAF9A806BE7CFCB
 *   PSD to HTML
 *   http://www.psd-to-html.net
 */

@import "css/bootstrap.css";

* {margin:0; padding:0;}
body {font-family: Trebuchet MS, Helvetica, Verdana, Tahoma, Helvetica, Arial; background:transparent url('images/bg.jpg'); color:#414141;}
img {border:0;}
.spacer{width:100%;height:0;clear:both}

/* Header */
header {margin:0 auto; width:1020px; height:65px;}
header .nav-pills {margin:2px 0 0 0; background: url('images/menu-line.gif') no-repeat left bottom;}
header .nav-pills > li > a {padding:32px 11px 17px 9px; margin:0; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; color:#FFF; background:transparent url('images/menu-line.gif') no-repeat right bottom;}
header .nav-pills > li > a:hover,
header .nav-pills > li > a.active {background: url('images/menu-line.gif') no-repeat right bottom; text-decoration:underline;}

/* Main Body */
.wrapper {width:100%; background: url('images/header.jpg') repeat-x;}
.wrapper-shadows {width:100%; background: url('images/shadows.png') no-repeat center 25px;}

.table-shadow {width:100%; padding-bottom:13px; background:url('images/shadow.gif') no-repeat center bottom;}

#content {margin:0; border-left:1px #b8b8b8 solid; border-right:1px #b8b8b8 solid; border-bottom:1px #b8b8b8 solid; background:#FFF url('images/bg-sh.gif') repeat-y; -webkit-box-shadow:0 0 10px #9A9A9A; -moz-box-shadow:0 0 10px #9a9a9a; box-shadow: 0 0 10px #9A9A9A;}

/* Left Sidebar */
table ,table th, table tr, table td {border-color:#bfbfbf!important;}

#leftsidebar h1 {font-size:20px; font-weight:bold; color:#3e3e3e; font-family:Arial, Helvetica, sans-serif; line-height:22px;}
#leftsidebar h2 {font-size:18px; font-weight:bold; color:#3e3e3e; font-family:Arial, Helvetica, sans-serif; line-height:20px;}
#leftsidebar h3 {font-size:16px; font-weight:bold; color:#3e3e3e; font-family:Arial, Helvetica, sans-serif; line-height:18px;}
#leftsidebar h4 {font-size:14px; font-weight:bold; color:#3e3e3e; font-family:Arial, Helvetica, sans-serif; line-height:16px;}
#leftsidebar h5 {font-size:13px; font-weight:bold; color:#3e3e3e; font-family:Arial, Helvetica, sans-serif; line-height:16px;}
#leftsidebar h6 {font-size:12px; font-weight:bold; color:#3e3e3e; font-family:Arial, Helvetica, sans-serif; line-height:14px;}

#leftsidebar table {margin-bottom:0;}

.red {color:#e02020;}
.green {color:#8dc933;}
.blue {color:#0075d9;}

.span12 {width:650px; padding:18px 16px 0 0; margin:0 0 0 14px;}
.span12 .toptable  tr th {white-space:nowrap; font-size:14px; color:#471616; text-align:center;}
.span12 .toptable  tr td {padding:4px 0; font-size:11px; text-align:center; font-family:Verdana;}
.span12 .searchtop {background: url('images/search-top.gif') no-repeat; height:76px; padding:0!important;}
.span12 .searchtop input {float:left; padding: 3px 6px; font-size: 12px; width: 113px; margin-top:25px; color:#494848;}
.span12 .searchtop .lf1 {margin-left:57px;}
.span12 .searchtop .lf2 {margin-left:64px;}
.span12 .searchtop .lf3 {margin-left:59px;}
.span12 .searchtop  .btn {margin-top:23px; font-weight:bold;}
.span12 .pagination {margin-top:10px;}
.span12 .pagination ul {box-shadow:none;}
.span12 .pagination .nav-pills > li > a {border-width: 0px; font-size:12px; padding: 0; line-height:20px; margin-right:5px; color:#9e9e9e; margin:0 9px 0 0; width:22px; height:20px; text-align:center;}
.span12 .pagination .nav-pills > li > a:hover,
.span12 .pagination .nav-pills > li.active > a {font-size:12px; padding:0; line-height:20px; margin-right:5px; color:#FFF; margin:0 9px 0 0; width:22px; height:20px; background:transparent url('images/nav-active.gif') no-repeat;}
.span12 .pagination .nav-pills > li.left > a {background:transparent url(images/nav-left.gif) no-repeat; width:22px; height:20px; border:0; margin:0; padding:0;}
.span12 .pagination .nav-pills > li.right > a {background:transparent url(images/nav-right.gif) no-repeat; width:22px; height:20px; border:0; margin:0 0 0 9px; padding:0;}

.span12 .normaltable th {white-space:nowrap; background: url('images/tabletop.gif') repeat-x; font-size:14px; color:#471616; text-align:center; line-height:16px; text-shadow: 0.1em 0.1em 0.1em #FFF;}
.span12 .normaltable td {padding:6px 6px 19px 6px; font-size:11px; text-align:center; font-family:Verdana;}
.span12 .normaltable td.desc {text-align:left; padding:0px 34px; line-height:20px; color:#888888;}
.span12 .normaltable td.descinner {padding:0px 10px;}
.document {float:left; color: #7e1e17; background-color: #ffbf59; font-size:11px; font-weight:normal; text-shadow: 0.1em 0.1em 0.1em #FFF;}
.interactive-data {float:left; color: #1a1e13; background-color: #8dc933; font-size:10px; font-weight:normal; text-shadow: 0.1em 0.1em 0.1em #FFF; letter-spacing:-1px; margin-left:6px;}

.span12 .normaltable td .uncheck {background:url('images/tuncheck.gif') no-repeat left top; padding:0 0 2px 21px;}
.span12 .normaltable td .check {background:url('images/tcheck.gif') no-repeat left top; padding:0 0 2px 21px;}
.span12 .normaltable .format {width:178px;}
.span12 .normaltable .download {width:30px;}

/* Right Sidebar */
.span13 {width:292px; padding:8px 14px 25px 0; margin:0 0 0 12px;}

#rightsidebar h1 {font-size:22px; font-weight:bold; color:#3f3f3f; line-height:24px;}
#rightsidebar h2 {font-size:20px; font-weight:bold; color:#3f3f3f; line-height:22px;}
#rightsidebar h3 {font-size:18px; font-weight:bold; color:#3f3f3f; line-height:20px;}
#rightsidebar h4 {font-size:14px; font-weight:bold; color:#0d6995; line-height:22px; font-family:Arial, Helvetica, sans-serif;}
#rightsidebar h4 {font-size:14px; font-weight:bold; color:#0d6995; line-height:22px; font-family:Arial, Helvetica, sans-serif;}
#rightsidebar h5 {font-size:14px; font-weight:bold; color:#3f3f3f; line-height:16px;}
#rightsidebar h6 {font-size:13px; font-weight:bold; color:#3f3f3f; line-height:16px;}

#rightsidebar h4 a {font-size:14px;}

.item {clear:both; padding-bottom:10px;}
.item h2 {border-bottom:3px #370101 solid;}
.item p {font-size:11px; line-height:16px; color:#414141;}
.item .news-item {background:url('images/itembg.gif') repeat-x left bottom; padding:0 8px 8px 0; margin-top:15px;}
.item .news-item h4 a {padding-left:36px; line-height:22px;}
.item .news-item p {margin-left:36px;}
.item .news-item.check p {color:#b4b4b4;}
.item .news-item.check h4 {background:url('images/check.gif') no-repeat 9px 4px;}
.item .news-item.uncheck h4 {background:url('images/uncheck.gif') no-repeat 9px 4px;}
.item a {color:#31899f; text-decoration:none; font-size:11px;}
.item a:hover {text-decoration:underline;}
.item ul {margin-left:36px;}
.item li {line-height:16px; list-style:none; background:url('images/arrow.png') no-repeat left 5px; padding-left:11px;}

.article {background:url('images/article.gif') no-repeat; padding-left:28px;}
.rss {background:url('images/rss.jpg') no-repeat left 4px; padding-left:22px;}
.twitter {background:url('images/twitter.jpg') no-repeat left top; padding-left:35px; padding-top:7px; margin-bottom:0;}

.item .rss-item {background:url('images/rssbg.gif') repeat-x left bottom; padding:0 8px 8px 0; margin-top:15px;}
.item .rss-item h4 a {padding-left:36px; color:#8dc933; padding-left:34px; line-height:27px;}
.item .rss-item p {margin-left:36px; color:#b4b4b4;}
.item .rss-item img {border:1px #b1b0b0 solid; float:left; margin:0 10px 0 8px;}
.item .rss-item.check p {color:#414141;}
.item .rss-item.check h4 {background:url('images/check.gif') no-repeat 9px 4px;}
.item .rss-item.uncheck h4 {background:url('images/uncheck.gif') no-repeat 9px 4px;}
.item .rss-item .date {font-size:11px; color:#959494; font-style:italic; font-family:Georgia; font-weight:normal; margin-left:12px;}

.item .twitter-item {background:#f6f5f5 url('images/tw-bg.gif') repeat-x left bottom; font-size:11px; color:#959494; font-style:italic; font-family:Georgia; font-weight:normal; padding:12px 4px 4px 9px;}
.item .twitter-box {padding:0 6px 6px 6px; border-left:1px #ebebeb solid; border-right:1px #ebebeb solid; border-bottom:1px #ebebeb solid;}
.item .twitter-box-top {background:url('images/twitter-bg-top.gif') no-repeat left top; width:292px; height:14px;}
.item .twitter-item a {color:#41b6e5;}
.item .twitter-item.last {background:#f6f5f5 url('images/tw-bg-last.gif') repeat-x left bottom;}
.item .twitter-item .check {background:url('images/check.gif') no-repeat 5px 4px; padding-left:36px;}
.item .twitter-item .uncheck {background:url('images/uncheck.gif') no-repeat 5px 4px; padding-left:36px;}
.item .twitter-item .uncheck p {color:#B4B4B4;}
.item .twitter-item .uncheck a {color:#B4B4B4;}

/* Inner */
.graph {padding-bottom:53px;}
.graph-image {width:650px;}
.graph-meter {width:650px; margin-top:6px;}
.graphtable {width:572px; border:1px #f0f0f0 solid!important; font-family:Verdana; font-size:12px; line-height:14px; padding:10px; margin-left:38px;}
.graphtable td {border:none; padding:0 25px;}

.table tr.active td {background:url('images/tabletopactive.gif') repeat-x left bottom;}

/* Footer */
.container-fluid {width:100%; height:150px; background:url('images/line.gif') repeat-x left 73px; margin:0; padding: 0;}
.container-fluid .container {margin:0 auto; width:1000px; height:150px; background:url('images/center-line.gif') no-repeat left 73px;}
.container-fluid .container footer {width:100%; height:150px; background:url('images/flogo.png') no-repeat center bottom; font-family:Arial, Helvetica, sans-serif; color:#4e4e4e; font-size:11px; text-shadow: 0.1em 0.1em 0.1em #FFF;}
.container-fluid .container footer a {color:#4e4e4e; text-decoration:none;}
.container-fluid .container footer a:hover {text-decoration:underline;}
.container-fluid .container footer ul {margin:94px 8px 0 0;}
.container-fluid .container footer ul li {float:left; list-style:none; margin-left:22px;}
.container-fluid .container footer .span14 {width:350px;}
.container-fluid .container footer .span15 {width:364px; margin:0 0 0 10px;}
.container-fluid .container footer .span15 p {margin-top:94px;}
.container-fluid .container footer .flogo {margin-top:41px;}