body{
	min-width:1000px;
	margin:0;
	color:#333;
	font:12px/15px 'Trebuchet MS', Arial, Helvetica, sans-serif;
	background:#ebebeb url(../images/bg-body.gif);
}
img{border-style:none;}
a{text-decoration:none; color:#0076a3;}
a:hover{text-decoration:underline;}
input,
textarea,
select{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
q{quotes:none;}
q:before{content:''}
q:after{content:''}
input[type="submit"]::-moz-focus-inner{ 
	border: 0;
	padding: 0;
}
header, footer, article, section, hgroup, nav, figure, aside { display: block; }
figure {
	margin:0;
	padding:0;
}
#wrapper{
	width:100%;
	overflow:hidden;
	position:relative;
}
#header{
	background:#471616 url(../images/bg-header.gif);
}
.header-holder{
	width:1000px;
	margin:0 auto;
	overflow:hidden;
}
.logo{
	background:url(../images/logo.png) no-repeat;
	width:185px;
	height:46px;
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	margin:13px 0 0;
}
.logo a{
	display:block;
	height:100%;
}
#nav{
	padding:0 1px 0 0;	margin:0;	list-style:none;
	float:right;
	background:url(../images/separator1.gif) repeat-y;
	font:15px/17px Arial, Helvetica, sans-serif;
}
#nav li{
	padding:31px 11px 17px;
	float:left;
	background:url(../images/separator1.gif) repeat-y 100% 0;
}
#nav a{color:#ececec;}
#main{
	width:970px;
	padding:18px 14px;
	margin:0 auto 4px;
	position:relative;
	background:#fff url(../images/separator2.gif) repeat-y 670px 0;
	border:1px solid #b8b8b8;
	border-width:0 1px 1px;
	box-shadow: 0 0 7px #afafaf;
	-webkit-box-shadow: 0 0 7px #afafaf;
	-moz-box-shadow: 0 0 7px #afafaf;
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
}
#main:after{
	content:'';	display:block;	clear:both;
}
.main_corner_lf{
	width: 200px;
	height: 200px;
	top:0; left:0;
	position:absolute;
	z-index:-6;
	display: inline-block;
	-webkit-box-shadow: -34px -10px 14px #666;
	-moz-box-shadow: -34px -10px 14px #666;
	box-shadow: -34px -10px 14px #666;
	-webkit-transform: rotate(2deg) translate(36px,10px) skew(6deg);
	-moz-transform: rotate(2deg) translate(36px,10px) skew(6deg);
	-o-transform: rotate(2deg) translate(36px,10px) skew(6deg);
	transform: rotate(2deg) translate(36px,10px) skew(6deg);
}
.main_corner_rt{
	content: '';
	width: 200px;
	height: 200px;
	top:0; right:0;
	position:absolute;
	display: inline-block;
	z-index:-6;
	-webkit-box-shadow: 34px -14px 14px #666;
	-moz-box-shadow: 34px -14px 14px #666;
	box-shadow: 34px -14px 14px #666;
	-webkit-transform: rotate(2deg) translate(-35px,10px) skew(-2deg);
	-moz-transform: rotate(2deg) translate(-35px,10px) skew(-2deg);
	-o-transform: rotate(2deg) translate(-35px,10px) skew(-2deg);
	transform: rotate(2deg) translate(-35px,10px) skew(-2deg);
}
#content{
	width:650px;
	float:left;
}
.stock-search{margin:0 0 40px;}
.stock-area{
	padding:0 0 16px;
	margin:0 0 7px;
	background:url(../images/shadow1.png) no-repeat 50% 100%;
}
.stock-area-holder{
	background:#fff;
	border:1px solid #bfbfbf;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	z-index:2;
}
.search-nav{overflow:hidden;}
.search-nav ul{
	padding:0;	margin:0;	list-style:none;
	overflow:hidden;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	background: #f4f4f4;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGU0ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f4f4f4 0%, #e4e4e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#e4e4e4));
	background: -webkit-linear-gradient(top,  #f4f4f4 0%,#e4e4e4 100%);
	background: -o-linear-gradient(top,  #f4f4f4 0%,#e4e4e4 100%);
	background: -ms-linear-gradient(top,  #f4f4f4 0%,#e4e4e4 100%);
	background: linear-gradient(to bottom,  #f4f4f4 0%,#e4e4e4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e4e4e4',GradientType=0 );
}
.search-nav ul li{
	float:left;
	height:44px;
	padding:22px 5px 10px 16px;
	background:url(../images/arrow1.png) no-repeat;
}
.search-nav .num{
	float:left;
	min-width:25px;
	font:normal 30px/32px Georgia, Arial, Helvetica, sans-serif;
	color:#4b4b4b;
	text-shadow:-1px 1px 1px #fff;
	margin:0 16px 0 0;
}
.search-nav .num span{
	float:left;
	margin:-4px 0 0;
}
.search-nav input[type="text"]{
	background:#fff;
	border:1px solid #cac8c8;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width:115px;
	height:16px;
	float:left;
	margin:3px 0 0;
	padding:5px;
	font:normal 13px/16px Arial, Helvetica, sans-serif;
	color:#494848;
}
.search-nav .btn{
	float:left;
	width:67px;
	height:31px;
	margin:1px 0 0 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px 2px #666;
	-webkit-box-shadow: 0 1px 2px #666;
	-moz-box-shadow: 0 1px 2px #666;
	overflow:hidden;
}
.search-nav .btn input[type="submit"]{
	border:none;
	float:left;
	position:relative;
	width:67px;
	height:31px;
	margin:0;
	padding:0;
	font:bold 16px/18px Helvetica, Arial, sans-serif;
	color:#fff;
	cursor:pointer;
	text-shadow:0 -1px 1px #888;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #ffb200;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjdjMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffb200 0%, #ff7c00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb200), color-stop(100%,#ff7c00));
	background: -webkit-linear-gradient(top,  #ffb200 0%,#ff7c00 100%);
	background: -o-linear-gradient(top,  #ffb200 0%,#ff7c00 100%);
	background: -ms-linear-gradient(top,  #ffb200 0%,#ff7c00 100%);
	background: linear-gradient(to bottom,  #ffb200 0%,#ff7c00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb200', endColorstr='#ff7c00',GradientType=0 );
}
.search-nav .btn input[type="submit"]:hover{cursor:pointer;}
.stock-table{
	width:648px;
	border-spacing:0;
	border-collapse:collapse;
	font:11px/13px Verdana, Helvetica, Arial, sans-serif;
	text-align:center;
}
.stock-table td,
.stock-table th{padding:0;}
.stock-table td{
	border-top:1px solid #dcdcdc;
	border-left:1px solid #bfbfbf;
	border-right:none;
	border-bottom:none;
	padding:6px 0;
}
.stock-table thead td{
	font:bold 14px/16px Helvetica, Arial, sans-serif;
	color:#471616;
	padding:13px 0;
	border-top:1px solid #bfbfbf;
}
.stock-table .col1{
	border-left:none;
	width:157px;
}
.stock-table .col2{width:169px;}
.stock-table .col3{width:162px;}
.stock-table .col4{width:157px;}
.stock-table .red{color:#d00;}
.stock-table .green{color:#8dc933;}
.stock-table .even td{background:#f1f1f1;}
.stock-table-wide td{padding:3px 0;}
.stock-table-wide thead td{padding:11px 0 12px;}
.stock-table-wide .col1{width:157px;}
.stock-table-wide .col2{width:169px;}
.stock-table-wide .col3{width:162px;}
.stock-table-wide .col4{width:101px;}
.stock-table-wide .col5{width:55px;}
.stock-table .view{
	background:url(../images/sprite.png) no-repeat 0 -37px;
	width:22px;
	height:19px;
	display:block;
	margin:0 auto;
}
.stock-table .checked td{background:#fff url(../images/bg-row-checked.gif) repeat-x 0 100%;}
.nav-bar{
	overflow:hidden;
	padding:0 2px;
}
.nav-bar .prev,
.nav-bar .next{
	float:right;
	width:22px;
	height:20px;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 0 0 9px;
}
.nav-bar .prev{background:url(../images/sprite.png) no-repeat;}
.nav-bar .next{background:url(../images/sprite.png) no-repeat -26px 0;}
.paging{
	padding:0;	margin:0;	list-style:none;
	float:left;
	font-size:13px;
	line-height:20px;
}
.paging li{
	float:left;
	margin:0 6px 0 0;
}
.paging a{
	float:left;
	width:22px;
	height:20px;
	text-align:center;
	color:#8f8f8f;
}
.paging .active a,
.paging a:hover{
	text-decoration:none;
	color:#fff;
	background:url(../images/sprite.png) no-repeat -52px 0;
}
.doc-block{margin:0 0 7px;}
.doc-block h2{
	font:bold 16px/18px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#3e3e3e;
	margin:0 0 8px;
}
.table-holder{
	padding:0 0 16px;
	margin:0 0 7px;
	background:url(../images/shadow1.png) no-repeat 50% 100%;
}
.table-frame{
	border:1px solid #bfbfbf;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	overflow:hidden;
}
.doc-table{
	width:648px;
	border-spacing:0;
	border-collapse:collapse;
	text-align:center;
	font:11px/13px Verdana, Arial, Helvetica, sans-serif;
}
.doc-table thead td{
	font-size:12px;
	line-height:16px;
	font-weight:bold;
	color:#471616;
	text-shadow:0 1px 1px #fff;
	border-top:none;
	padding:0;
}
.doc-table thead span{
	display:block;
	padding:8px 0;
	background: #f3f3f3;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGU0ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f3f3f3 0%, #e4e4e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#e4e4e4));
	background: -webkit-linear-gradient(top,  #f3f3f3 0%,#e4e4e4 100%);
	background: -o-linear-gradient(top,  #f3f3f3 0%,#e4e4e4 100%);
	background: -ms-linear-gradient(top,  #f3f3f3 0%,#e4e4e4 100%);
	background: linear-gradient(to bottom,  #f3f3f3 0%,#e4e4e4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e4e4e4',GradientType=0 );
}
.doc-table td{
	border-top:1px solid #dcdcdc;
	border-left:1px solid #bfbfbf;
	border-right:none;
	border-bottom:none;
	padding:5px 0 6px;
	vertical-align:top;
}
.doc-table tbody tr:first-child td{border-top:1px solid #bfbfbf;}
.doc-table .col1{
	width:76px;
	border-left:none;
}
.doc-table .col2{width:104px;}
.doc-table .col3{width:354px;}
.doc-table tbody .col3{
	width:309px;
	padding:5px 10px 6px 35px;
	color:#888;
}
.doc-table .col4{width:111px;}
.doc-table .even{background:#f1f1f1;}
.doc-table p{
	margin:0;
	text-align:left;
}
.doc-table .title{
	display:block;
	font-weight:normal;
	color:#0075d9;
	margin:0 0 6px;
}
.doc-table .format{
	width:82px;
	height:14px;
	margin:0 auto;
	display:inline-block;
	vertical-align:top;
	background:#ffbf59;
	border:1px solid #ee9406;
	font-weight:normal;
	text-align:center;
	text-transform:uppercase;
	color:#6a0000;
	text-shadow:0 1px 1px #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.doc-table .format.green{
	font-size:8px;
	line-height:13px;
	color:#000;
	background:#8dc933;
	border:1px solid #579101;
}
.doc-table-wide .col1{width:76px;}
.doc-table-wide tbody .col1{
	width:68px;
	padding:5px 4px 6px;
	text-align:left;
}
.doc-table-wide .col2{
	width:174px;
	padding:5px 10px 6px;
	text-align:left;
}
.doc-table-wide thead .col2{
	width:194px;
	padding:0;
}
.doc-table-wide thead .col2 span{
	padding:8px 10px 8px 28px;
}
.doc-table-wide .col3{width:232px;}
.doc-table-wide tbody .col3{
	width:226px;
	padding:5px 0 6px 6px;
	color:#888;
}
.doc-table-wide .col4{width:98px;}
.doc-table-wide .col5{width:44px;}
.doc-table .add{
	background:url(../images/sprite.png) no-repeat -52px -22px;
	width:20px;
	height:21px;
	display:block;
	margin:3px auto 0;
}
.doc-table .checked td{background:url(../images/bg-row-checked2.gif) repeat-x 0 100%;}
#sidebar{
	width:291px;
	float:right;
	margin:-3px 0 0;
	position:relative;
}
.articles{
	margin:0 0 3px;
	overflow:hidden;
}
#sidebar h2{
	font-size:20px;
	line-height:22px;
	font-weight:bold;
	color:#3f3f3f;
	margin:0 0 16px;
	padding:0 0 3px;
	background:url(../images/separator4.gif) repeat-x 0 100%;
}
#sidebar h2 span{display:block;}
.articles h2 span{
	padding:0 0 0 27px;
	background:url(../images/sprite.png) no-repeat -779px 1px;
}
.text-box{
	border-bottom:1px solid #e2e2e2;
	font-size:12px;
	line-height:18px;
	word-spacing:-1px;
	color:#414141;
	margin:0 0 20px;
}
.articles .checked{color:#b4b4b4;}
.text-box .holder{
	padding:0 0 13px 8px;
	border-bottom:1px solid #fff;
	background: #fff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #f8f8f8 51%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(51%,#f8f8f8), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#f8f8f8 51%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#f8f8f8 51%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#f8f8f8 51%,#f3f3f3 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#f8f8f8 51%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
}
.text-box .check{
	float:left;
	width:16px;
	height:16px;
	margin:0;
	padding:0;
}
.text-box .frame{
	display:block;
	overflow:hidden;
}
.text-box h3{
	font:bold 14px/16px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#0d6995;
	margin:0 0 11px;
}
.text-box p{margin:0 0 9px;}
.text-box ul{
	padding:0;	margin:0;	list-style:none;
	color:#9b9b9b;
}
.articles .checked ul{color:#31899f;}
.text-box ul li{
	background:url(../images/arrow2.png) no-repeat 0 5px;
	padding:0 0 0 11px;
}
.news{
	margin:0 0 17px;
	overflow:hidden;
}
#sidebar .news h2{
	margin:0 0 12px;
	letter-spacing:1px;
}
.news h2 span{
	padding:0 0 0 23px;
	background:url(../images/sprite.png) no-repeat -783px -83px;
}
.news .item{
	border-bottom:1px solid #e2e2e2;
	font-size:11px;
	line-height:16px;
	color:#959494;
	margin:0 0 14px;
}
.news .checked{color:#171717;}
.news .item-holder{
	padding:0 0 4px 8px;
	border-bottom:1px solid #fff;
	background: #fff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #f8f8f8 51%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(51%,#f8f8f8), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#f8f8f8 51%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#f8f8f8 51%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#f8f8f8 51%,#f3f3f3 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#f8f8f8 51%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
}
.news .item .heading{
	overflow:hidden;
	margin:0 0 4px;
}
.news .item label{
	float:left;
	font-size:15px;
	line-height:18px;
	font-weight:bold;
	color:#6db601;
	margin:0 13px 0 0;
}
.news .item .date{
	float:left;
	margin:4px 0 0;
	font-size:12px;
	line-height:14px;
	color:#959494;
}
.news .item .holder{overflow:hidden;}
.news .alignleft{
	float:left;
	border:1px solid #b1b0b0;
	margin:3px 10px 0 0;
}
.news .item p{margin:0;}
#sidebar .tweets h2{margin:0 0 9px;}
.tweets h2 span{
	padding:7px 0 0 36px;
	background:url(../images/sprite.png) no-repeat -768px -172px;
}
.tweets form{
	border:1px solid #ebebeb;
	padding:4px;
	position:relative;
}
.tweets .items-holder{position:relative;}
.tweets .arrow{
	background:url(../images/sprite.png) no-repeat 0 -25px;
	width:21px;
	height:8px;
	position:absolute;
	top:-8px;
	left:14px;
	z-index:2;
}
.tweets .items-holder .arrow{
	background:url(../images/sprite.png) no-repeat -24px -29px;
	width:9px;
	height:4px;
	top:-4px;
	left:16px;
}
.tweets ul{
	padding:0;	margin:0;	list-style:none;
	font:italic 11px/18px Georiga, "Time New Roman", Times, serif;
}
.tweets ul li{
	overflow:hidden;
	position:relative;
	background:#f6f5f5;
	border-top:1px solid #e6e6e6;
	color:#9c9c9c;
}
.tweets ul li:first-child,
.tweets ul li:first-child .frame{border:none;}
.tweets ul .frame{
	border-top:1px solid #fff;
	padding:13px 0 10px 9px;
}
.tweets .checked{
	color:#565656;
	background: #f6f5f5;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2Y3ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f6f5f5 0%, #f7f6f6 65%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f5f5), color-stop(65%,#f7f6f6), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #f6f5f5 0%,#f7f6f6 65%,#ffffff 100%);
	background: -o-linear-gradient(top,  #f6f5f5 0%,#f7f6f6 65%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #f6f5f5 0%,#f7f6f6 65%,#ffffff 100%);
	background: linear-gradient(to bottom,  #f6f5f5 0%,#f7f6f6 65%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f5f5', endColorstr='#ffffff',GradientType=0 );
}
.tweets ul .holder{
	overflow:hidden;
	display:block;
}
.tweets p{margin:0;}
.tweets .info{
	display:block;
	font-weight:normal;
	color:#9c9c9c;
}
.tweets .checked .info{color:#41b6e5;}
.tweets .info a{color:#9c9c9c;}
.tweets .checked .info a{color:#41b6e5;}
.graph-block{margin:-5px 0 53px;}
.graph-block h2{
	font:bold 16px/18px Arial, Helvetica, sans-serif;
	color:#3e3e3e;
	text-transform:uppercase;
	margin:0 0 8px;
}
.graph-area{margin:0 0 15px;}
.graph-area img{vertical-align:top;}
.graph-info{
	width:569px;
	margin:0 auto;
	padding:10px 0 8px;
	border:1px solid #ececec;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.graph-info table{
	width:499px;
	margin:0 auto;
	border-spacing:0;
	border-collapse:collapse;
	font:12px/14px Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#5f5e5e;
}
.graph-info table td,
.graph-info table th{padding:3px 0;}
.graph-info table .col1{width:177px;}
.graph-info table .col2{width:170px;}
.graph-info table .col3{
	width:101px;
	color:#0075d9;
}
.graph-info table .col4{
	width:51px;
	color:#8dc933;
}
.graph-info table .col1 span{
	width:105px;
	height:5px;
	display:inline-block;
	vertical-align:middle;
}
.graph-info table .orange{background:#e99809;}
.graph-info table .red{background:#c00;}
.graph-info table .green{background:#44a900;}
.graph-info table .grey{background:#5c5c5c;}
.graph-info table .col4 span{color:#f20404;}
#footer{background:url(../images/separator3.gif) repeat-x 0 69px;}
.footer-holder{
	width:1000px;
	margin:0 auto;
	padding:36px 0 41px;
	background:url(../images/bg-footer.gif) no-repeat 50% 0;
}
#footer .logo{
	background:url(../images/logo2.png) no-repeat;
	width:220px;
	height:59px;
	float:none;
	display:block;
	margin:0 auto;
}
.footer-frame{
	overflow:hidden;
	font:11px/13px Arial, Helvetica, sans-serif;
	color:#4e4e4e;
	text-transform:uppercase;
	margin:-4px 0 0;
	padding:0 112px 0 186px;
	position:relative;
	text-shadow:0 1px 1px #fff;
}
.footer-frame ul{
	padding:0;	margin:0;	list-style:none;
	float:left;
}
.footer-frame ul li{
	float:left;
	margin:0 27px 0 0;
}
.footer-frame ul a{color:#414141;}
.copy{
	float:right;
	font-weight:normal;
}
/* hide original element */
.jcf-hidden {
	display: block !important;
	position: absolute !important;
	left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom checkbox styles */
.chk-area {
	background:url(../images/checkbox.png) no-repeat;
	margin: 1px 10px 0 0;
	float: left;
	width: 19px;
	height: 19px;
}
.chk-checked {background:url(../images/checkbox.png) no-repeat 0 -21px;}
.news .item .chk-area{margin:0 5px 0 0;}
.tweets .chk-area{margin:3px 8px 0 0;}
.doc-table .chk-area {
	background:url(../images/checkbox2.png) no-repeat;
	margin:-1px 7px 0 0;
	float: left;
	width: 14px;
	height: 15px;
}
.doc-table .chk-checked {background:url(../images/checkbox2.png) no-repeat 0 -17px;}